{% extends '::frontend.html.twig' %}

{% block body %}
	<h1 class="clase">Administraci贸n</h1>
	
	<hr />	
	<a href="{{ asset('home/facturacion') }}">Facturaci贸n</a>
	<a href="{{ asset('home/contabilidad') }}">Contabilidad</a>
	<a href="{{ asset('home/administracion') }}">Administraci贸n</a>
	<hr />	
	<a href="{{ asset('home/administracion/usurio') }}">Administraci贸n usuarios</a>
	<a href="{{ asset('home/Estado de Equipos') }}">Estado de Equipos</a>
	<a href="{{ asset('home/Estado de Respaldos y licencias') }}">Respaldos y licencias</a>
	<a href="{{ asset('home/Control de Soporte') }}">Control de Soporte</a>
		<hr />
	<img src="{{ asset('public/images/estamos-trabajando.png') }}" class="ima" />
	<hr />
	 <p><a href="{{path('bd_homepagelogout')}}">Logout</a></p>
	 <p><a href="{{path('bd_homepage')}}">Volver a home</a></p>
{% endblock %}
